<div class="attraction_wrapper">
    <div class="items">
        <h2>Ipo Dam View Deck</h2>
        <img src="./assets/attraction_image1.PNG" alt="">
        <p>If you are the kind of traveler who likes taking lots of pictures, be sure to schedule a stop at the Ipo Dam View Deck in Norzagaray. Not only does it offer breathtaking views of Ipo Dam and the Sierra Madre mountain range, but it also has several photo spots, including a huge man-made nest, a swing, a kubo (a wooden hut), and other wooden structures. Tip: come early to avoid the crowds and get that perfect travel photo.

            The route to the view deck has many turns, so if you often have motion sickness, it is best to bring medicine. You won’t have to worry about food, though, as there are a couple of eateries and stores nearby.</p>
    </div>

    <div class="items">
        <h2>Malolos Catherdal</h2>
        <img src="./assets/attraction_image2.PNG" alt="">
        <p>The Malolos Cathedral is famous for being declared the Minor Basilica of Our Lady of Immaculate Conception by Pope John Paul II and its distinct role in Philippine history. From September 1898 to March 1899, the convent was used as General Emilio Aguinaldo’s presidential palace. As he was fleeing from Americans, he ordered that the convent and the church be burned, making them useless to the enemy. 

            Fortunately, the convent and the church were gradually rebuilt, and in 1962 the church was inaugurated as a cathedral. Today, the cathedral serves as the ecclesiastical seat of the Diocese of Malolos. On your visit, don’t forget to check out the Kalayaan Tree (Freedom Tree), a centuries-old tree believed to have been planted by Aguinaldo himself.</p>
    </div>

    <div class="items">
        <h2>Ipo Dam View Deck</h2>
        <img src="./assets/attraction_image3.PNG" alt="">
        <p>This butterfly sanctuary in San Francisco, Pulilan is the residence of the Aguirre family, which was opened to the public so people can appreciate the butterflies living in their garden. A visit here will let you get close to different species of plants and butterflies and see a butterfly nursery, making it a good place to commune with nature or educate children about the importance of all creatures on the planet. 

            You can also explore the Bulacan Doll Museum, which is located within the property. It is host to 17 dioramas that depict historical events in the Philippines. If you’re visiting during the hotter months, you might want to bring swimwear as you can cool off at their pool.</p>
    </div>

    <div class="items">
        <h2>Ipo Dam View Deck</h2>
        <img src="./assets/attraction_image1.PNG" alt="">
        <p>If you are the kind of traveler who likes taking lots of pictures, be sure to schedule a stop at the Ipo Dam View Deck in Norzagaray. Not only does it offer breathtaking views of Ipo Dam and the Sierra Madre mountain range, but it also has several photo spots, including a huge man-made nest, a swing, a kubo (a wooden hut), and other wooden structures. Tip: come early to avoid the crowds and get that perfect travel photo.

            The route to the view deck has many turns, so if you often have motion sickness, it is best to bring medicine. You won’t have to worry about food, though, as there are a couple of eateries and stores nearby.</p>
    </div>

    <div class="items">
        <h2>Ipo Dam View Deck</h2>
        <img src="./assets/attraction_image1.PNG" alt="">
        <p>If you are the kind of traveler who likes taking lots of pictures, be sure to schedule a stop at the Ipo Dam View Deck in Norzagaray. Not only does it offer breathtaking views of Ipo Dam and the Sierra Madre mountain range, but it also has several photo spots, including a huge man-made nest, a swing, a kubo (a wooden hut), and other wooden structures. Tip: come early to avoid the crowds and get that perfect travel photo.

            The route to the view deck has many turns, so if you often have motion sickness, it is best to bring medicine. You won’t have to worry about food, though, as there are a couple of eateries and stores nearby.</p>
    </div>

    <div class="items">
        <h2>Ipo Dam View Deck</h2>
        <img src="./assets/attraction_image1.PNG" alt="">
        <p>If you are the kind of traveler who likes taking lots of pictures, be sure to schedule a stop at the Ipo Dam View Deck in Norzagaray. Not only does it offer breathtaking views of Ipo Dam and the Sierra Madre mountain range, but it also has several photo spots, including a huge man-made nest, a swing, a kubo (a wooden hut), and other wooden structures. Tip: come early to avoid the crowds and get that perfect travel photo.

            The route to the view deck has many turns, so if you often have motion sickness, it is best to bring medicine. You won’t have to worry about food, though, as there are a couple of eateries and stores nearby.</p>
    </div>

</div>
