<div class="attraction_wrapper">
    <div class="items">
        <img src="./assets/product_image1.PNG" alt="">
    </div>

    <div class="items">
        <img src="./assets/product_image2.PNG" alt="">
    </div>
    
    <div class="items">
        <img src="./assets/product_image3.PNG" alt="">
    </div>
    
    <div class="items">
        <img src="./assets/product_image4.PNG" alt="">
    </div>

    <div class="items">
        <img src="./assets/product_image5.PNG" alt="">
    </div>

    <div class="items">
        <img src="./assets/product_image6.PNG" alt="">
    </div>
</div>
