

<img class="home1" src="./assets/home_image1.webp" alt="Home Image 1">

<div class="features">
    <div class="feature_item">
        <div class="feature_text">
            <h3>Explore Bulacan</h3>
            <p>Feel the heart and soul of the Philippines in Bulacan. Its history and tradition, its land, culture and its people. Truly a melting pot of the past and the present, the old and the new, the countryside and the urbane. Bulacan is noted as the land of heroes, beautiful women, progressive cooperatives, small and medium-scale industries. It is also known for excellent craftsmanship in making jewelries, leather crafts, buntal hats, pyrotechnics, bone in-laid furnitures and garments. Bulacan also has emerged into a reputable resort haven of Luzon. Just a few minutes north of Manila by car, Bulacan resorts provide an accessible and welcome respite from the pressures of city life.</p>
        </div>
        <img class="images" src="./assets/home_image1.PNG" alt="">
    </div>

    <div class="feature_item">
        <img class="images" src="./assets/home_image2.PNG" alt="">
        <div class="feature_text pink">
            <h3>History of Bulacan</h3>
            <p>The province name is derived from the Tagalog word bulak meaning cotton, which was its former principal product. Bulacan started with small fishing settlements along the coast of Manila Bay and expanded into the interior with the arrival of the Spaniards. These settlements formed the nucleus of towns that were founded from 1572 (Bulacan and Calumpit) to 1750 (San Rafael). In 1848, the town of San Miguel was annexed to Bulacan from Pampanga. Bulacan was one of the first eight provinces to rise against Spanish rule. The first phase of the Philippine Revolution ended with the signing of the Pact of Biak-na-Bato in San Miguel in 1897 between the Filipinos and the Spaniards, after which Aguinaldo was exiled to Hong Kong. </p>
        </div>
        
    </div>

    <div class="feature_item">
        <div class="feature_text">
            <h3>Physical Characteristics</h3>
            <p>The Province of Bulacan can be found at the southern part of Luzon, popularly known as the Central Luzon. It is commonly flat on the western side and uplands on the eastern side that changes in altitude and is considered to be the foothill of Sierra Madre. In terms of land resources, Bulacan covers a total of 262,500 hectares which is approximately 14% of the total land area of Bulacan, which is about 0.88% of the total land are of the country. Similar to other provinces around the Philippines, Bulacan consists of two seasons known as the wet and the dry. The wet season begins at May and usually ends on November and the rest of the year is dry with irregular rains, more or less scattered evenly around the area.</p>
        </div>
        <img class="images" src="./assets/home_image3.PNG" alt="">
    </div>

    <div class="feature_item">
        <img class="images" src="./assets/home_image4.PNG" alt="">
        <div class="feature_text pink">
            <h3>Getting there and getting around</h3>
            <p>Bulacan is easily accessible from Metro Manila and other parts of Central Luzon. It is a short ride by personal vehicle or by public bus from Metro Manila. There are plenty of fixed rate and metered taxis stationed at the Ninoy Aquino International Airport. Also, there are car rental agencies at the airport and everywhere else in the metro. For budget travelers, buses are the best way to get into Bulacan. All northbound buses pass by the province and there are a good number of bus lines that leave at regular intervals from several stations in Quezon City, Pasay City and Manila.</p>
        </div>

</div>